:root {
    --dark-choco: #432719;
    --yellow-light: #FFE7A7;
    --choco: #98582A;
    --white: #F9F4EE
}

.font-libre {
    font-family: "Libre Baskerville", serif;
}

.font-source-sans {
    font-family: "Source Sans 3", serif;
}

.text-dark-choco {
    color: var(--dark-choco);
}

.text-yellow-light {
    color: var(--yellow-light);
}

.text-choco {
    color: var(--choco);
}

.text-white {
    color: var(--white);
}

.bg-dark-choco {
    background-color: var(--dark-choco);
}

.bg-yellow-light {
    background-color: var(--yellow-light);
}

.bg-choco {
    background-color: var(--choco);
}

.bg-white {
    background-color: var(--white);
}

.container {
    padding-inline: 10%;
    padding-block: 5%;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.animation-scroll-left {
    animation: scroll-left 30s linear infinite;
}

.animation-scroll-right {
    animation: scroll-right 30s linear infinite;
}

.slide-in {
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s ease-out;
  }
.slide-in.active {
    transform: translateX(0);
    opacity: 1;
}

html ::-webkit-scrollbar-track {
	background: transparent;
}
html ::-webkit-scrollbar-thumb {
	background: #432719;
	border-radius: 10px;
}
html ::-webkit-scrollbar {
	width: 12px;
}