.card-container {
  perspective: 50em;
}

.card {
  position: relative;
  width: 320px;
  padding: 2.5em;
  color: #fff;
  background-color: #98582A; 
  border-radius: 10px;
  transform: rotateY(10deg) rotateX(5deg); 
  transform-style: preserve-3d;
  transition: transform 0.8s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: 0.8s;
}

.card:hover {
  transform: rotateY(-10deg) rotateX(-5deg);
  color: #432719;
}


.card-container:nth-child(2) .card,
.card-container:nth-child(4) .card {
  transform: rotateY(-10deg) rotateX(5deg);
}

.card-container:nth-child(2) .card:hover,
.card-container:nth-child(4) .card:hover {
  transform: rotateY(10deg) rotateX(-5deg); 
}

